<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin-head(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>[[${title}]]</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon" sizes="32*32"/>
    <link rel="bookmark" th:href="@{/images/favicon.png}" type="image/x-icon" sizes="32*32"/>
<!--    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" th:href="@{https://pandao.github.io/editor.md/favicon.ico}" type="image/x-icon" />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.17/dist/css/bootstrap-select.min.css">



    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

</head>
<body>

<!--导航条-->
<nav th:fragment="admin-nav" class="navbar navbar-default row text-center thumbnail m-box-shadow-mini m-margin-none m-padded-none" role="navigation" style="height:60px;margin-bottom: 0px">
    <div class="content">

        <div class="container-flui ">
            <div class="col-md-2"><h1 class="m-font-color-blue" style="margin-top: 9px"><b>后台管理</b></h1></div>
            <div class="col-md-8 collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="padding-top: 6px">
                <ul class="nav navbar-nav ">
                    <li ><a href="#" style="font-size: 18px;margin-left: 52px" th:href="@{/admin/blogs}" ><span class="glyphicon glyphicon-home"
                                                                                    style="padding-right: 6px"
                                                                                    aria-hidden="true" >&ensp;博客管理</span> </a></li>
                    <li><a href="#" style="font-size: 18px;margin-left: 52px" th:href="@{/admin/types}" ><span class="glyphicon glyphicon-th-list"
                                                                                    style="padding-right: 6px"
                                                                                    aria-hidden="true" >&ensp;分类管理 </span></a></li>
                    <li><a href="#" style="font-size: 18px;margin-left: 52px" th:href="@{/admin/tags}"><span class="glyphicon glyphicon-tags"
                                                                                    style="padding-right: 6px"
                                                                                    aria-hidden="true" >&ensp;标签管理</span> </a></li>
                    <li><a href="#" style="font-size: 18px;margin-left: 52px " th:href="@{/admin/pim}"><span class="glyphicon glyphicon-user"
                                                                                     style="" aria-hidden="true" >&ensp;个人信息管理</span>
                    </a></li>
                </ul>

            </div>
            <div class="col-md-2 navbar-header" style="float: right">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#">
                    <div class="form-inline navbar-btn" style="margin-top: 3px">
                        <img class="col-md-2 m-div-imag-size m-padded-none img-responsive" src="../../static/images/headProtrait.jpg" th:src="@{/images/headProtrait.jpg}" style="border-radius: 55%;">
                        <div class="col-md-6 dropdown text-left" style="margin-top: 19px">
                            <a id="dLabel" style="color: deepskyblue" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                [[${#session.getAttribute('loginUser')}]]
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu " aria-labelledby="dLabel">
                                <li><a href="#" data-toggle="modal" data-target="#change_pwd_modal" style="color: deepskyblue">修改密码</a></li>
                                <li><a href="#" th:href="@{/admin/logout}" style="color: deepskyblue;">退出登录</a></li>
                            </ul>
                        </div>
                    </div>

                </a>
            </div>



        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="change_pwd_modal" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title m-font-color-blue" id="type_title">修改密码</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="change_pwd_form" th:action="@{/admin/changePwd}" th:method="put">
                        <div class="form-group row">
                            <label for="old_password" class="col-sm-3 control-label">输入旧密码：</label>
                            <div class="col-sm-9 text-left">
                                <input type="password" class="form-control nav-input " name="oldPwd" id="old_password" placeholder="Old Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_password" class="col-sm-3 control-label">输入新密码：</label>
                            <div class="col-sm-9 text-left">
                                <input type="password" class="form-control nav-input " name="newPwd" id="new_password" placeholder="New Password">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="new_password" class="col-sm-3 control-label">确认新密码：</label>
                            <div class="col-sm-9 text-left">
                                <input type="password" class="form-control nav-input " name="confirmPwd" id="confirm_new_password" placeholder="Confirm New Password">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-danger " disabled id="change_pwd_btn">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(function () {
            $('#change_pwd_modal').on('hidden.bs.modal', function (e) {
                //1、清空模态框表单
                $('#change_pwd_modal form')[0].reset();
                $('#change_pwd_btn').removeAttr("disabled")
                $('#change_pwd_btn').attr("disabled","disabled")
                $('#change_pwd_modal input').parent().removeClass("has-success has-error")
                $('#change_pwd_modal input').next('span').remove();
                console.log($('#change_pwd_modal input').next())
            })
            $('#old_password').change(function () {
                if(!ifInputNotNull($("#old_password"))){
                    return;
                };
                $.get(
                    "/admin/confirmPwd",
                    "pwd="+$('#old_password').val(),
                    function (result) {
                        if(result.code==200){
                            $('#old_password').parent('div').addClass('has-error');
                            $('#old_password').after("<span style='margin:0;color: #dd5555'>密码输入有误</span>");

                        }else{
                            $('#old_password').parent('div').addClass('has-success');
                            btnStatus();
                        }
                    }

                )
            })
            $('#new_password').change(function () {
                    if(ifInputNotNull($(this))){
                        $('#new_password').parent('div').addClass('has-success');
                    };
                    if($('#confirm_new_password').val()==null||$('#confirm_new_password').val()==''){
                        return;
                    }else{
                        ifPwdEqual();
                        btnStatus();
                    }
                    
            })
            $('#confirm_new_password').change(function () {
                if(!ifInputNotNull($(this))){
                    return;
                }
                ifPwdEqual();
                btnStatus();
            })
            
            function ifPwdEqual() {
                var newPwd = $('#new_password').val();
                var confrimPwd = $('#confirm_new_password').val();
                if(newPwd!=confrimPwd){
                    $("#confirm_new_password").next('span').remove();
                    $('#confirm_new_password').parent('div').addClass('has-error');
                    $('#confirm_new_password').after("<span style='margin:0;color: #dd5555'>两次输入的密码不一致！</span>");

                    return;
                }else{
                    $('#confirm_new_password').parent('div').addClass('has-success');

                }
            }
            
            function ifInputNotNull($input) {
                $input.parent('div').removeClass('has-error has-success');
                $input.next('span').remove();
                var pwd = $input.val()
                if(pwd.trim()==''||pwd==null){
                    $input.parent('div').addClass('has-error');
                    $input.after("<span style='margin:0;color: #dd5555'>密码不能是空字符串</span>");
                    return false;
                };
                return true;
            }
            
            function btnStatus() {
                //判断所有div的has-success属性是否与相关input属性一样多（不含隐藏域）
                console.log($('#change_pwd_modal div.has-success').length,$('#change_pwd_modal input').length,$('#change_pwd_modal input'))
                    if($('#change_pwd_modal div.has-success').length==$('#change_pwd_modal input').length-1){
                        $("#change_pwd_btn").removeAttr('disabled');
                    }
            }
            //修改密码
            $("#change_pwd_btn").click(function () {
                $('#change_pwd_form').submit();
            })
        })
    </script>

</nav>


</body>
</html>