<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-commons::admin-head('博客发布')"></head>
<body>
<!--导航条-->
<nav th:replace="admin/admin-commons::admin-nav"></nav>

<div class="content text-center" >
    <div class="col-md-8 col-md-offset-2" >
        <div class="m-margin-tb-tiny">
            <div class="btn-group" role="group" aria-label="...">
                <a  class="btn btn-default btn-lg active" style="outline: none" href="javascript:void(0)">&nbsp;发布&nbsp;</a>
                <a  class="btn btn-default btn-lg" style="outline: none" th:href="@{/admin/blogs}">&nbsp;列表&nbsp;</a>
            </div>
        </div>
        <form th:action="@{/admin/blog}" th:method="${blog}!=null?'put':'post'" id="save-blog-form" >
            <input th:if="${blog}!=null" type="hidden" name="id" th:value="${blog.id}">
            <input type="hidden" name="ifOriginal" id="if_original" th:value="${blog}!=null?${blog.ifOriginal}:true" >
        <div class="input-group input-group-lg" style="position: relative;margin-bottom: 19px">
            <div class="input-group-btn">
                <button id="iftype" type="button" class="btn btn-info dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="outline: none">原创&ensp;<span class="caret"></span></button>
                <ul class="dropdown-menu" style="min-width: 100%">
                    <li class="text-center"><span style="color: deepskyblue">原创</span></li>
                    <li role="separator" class="divider"></li>
                    <li class="text-center "><span style="color: firebrick;">转载</span></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" id="title_input" name="title" th:value="${blog}!=null?${blog.title}:''" aria-label="..." placeholder="      请输入标题..." style="font-size: 18px">
        </div><!-- /input-group -->

        <div class="input-group input-group-lg m-margin-tb-mini">
            <span class="input-group-addon" id="introduction_span" style="background-color: #fc66ff;color: #ffffff">博客简介</span>
            <input type="text" class="form-control" name="introduction" id="introduction_input" th:value="${blog}==null?'':${blog.introduction}"
                   placeholder="   请输入文章的简介..." aria-describedby="introduction_span">
        </div>
        <div class="layout" style="position:relative;z-index: 99">
            <div id="m-editormd">
                <textarea style="display:none;" name="content" id="content_text" th:text="${blog}!=null?${blog.content}:''">
                </textarea>
            </div>
        </div>
        <div class="row " style="position:relative;">
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="types">分类</span>
                    <select class="form-control" aria-haspopup="true" aria-expanded="false" name="type.id" >
                        <option th:each="type:${types}" th:selected="${blog}!=null?${blog.type.id}==${type.id}:false" th:text="${type.typeName}" th:value="${type.id}" value="void">hahah1</option>
                    </select>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-group  input-group-lg" >
                    <select class="selectpicker" multiple data-max-options="3" data-multiple-separator=" " data-title="标 签" id="tags_select"  name="tagIds" >
                        <option value="1" class="option_tag" th:each="tag:${tags}" th:selected="${blog}!=null?${#strings.contains(blog.tagIds,tag.id+',')}:false" th:value="${tag.id}" th:text="${tag.tagName}" data-content="<span class='label label-info content-option-tag'>[[${tag.tagName}]]</span>">spring boot</option>
                    </select>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="text-left" style="margin-top: 16px;padding-right: 16px;position: relative">
            <span class="btn btn-warning btn-lg" style="margin-bottom: 16px" >首图</span>
            <input type="hidden" name="firstFigure" id="first_figure_id" th:value="${blog!=null}?${blog.firstFigure}:''">
            <input style="top:52px;left:88px;opacity: 0;width:0px;height:0px;position: absolute" id="first_figure_upload" name="first_figure"  type="file" accept="image/gif, image/jpeg, image/png" />
            <button type="button" th:style="'opacity:'+(${blog==null||blog.firstFigure==''||blog.firstFigure==null}?'1':'0')+';width: 96px;height:96px;left:12px;font-size: 33px'"  class="glyphicon glyphicon-cloud-upload" style="" id="first_figure_btn" ></button>
            <div id="head_portrait_div"  th:style="'display:'+(${blog==null||blog.firstFigure==''||blog.firstFigure==null}?'none':'inline')">
                <img  id="first_figure_img" src="../static/images/headProtrait.jpg"  th:src="@{${blog==null||blog.firstFigure==''||blog.firstFigure==null?'':blog.firstFigure}}"
                     class="m-border-radius-mini img-responsive m-box-shadow" style="width: 102px;height:102px;top:0px;left:83px;position: absolute">

                <div class="mask-mini text-center" >
                    <button type="button" class="btn btn-info m-border-radius" id="first_change_btn" style="position:absolute;top:22px;left:22px;width: 66px;height:25px">修改</button>
                    <button type="button" class="btn btn-danger m-border-radius" id="first_delete_btn" style="position:absolute;top:55px;left:22px;width: 66px;height:25px">删除</button>
                </div>
            </div>
            <!--            <input type="file" name="firstFigure" class="form-control" placeholder="地址"  aria-describedby="sizing-addon1" th:value="${blog}!=null?${blog.firstFigure}:''">-->
        </div>
        <div class="text-left" style="margin-top:16px;font-size: 16px;color: #00bbff" >
            <label class="checkbox-inline">
                <input type="checkbox"  name="recommend"  th:checked="${blog}!=null?${blog.recommend}:false">推荐
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="appreciates" th:checked="${blog}!=null?${blog.appreciates}:false"> 赞赏
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="commentabled" th:checked="${blog}!=null?${blog.commentabled}:false"> 评论
            </label>
        </div>
            <div class="modal fade" id="confirm_return_modal" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-left">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" style="color: #dd5555">温馨提示</h4>
                        </div>
                        <div class="modal-body">
                            <h3 class="m-font-spaced m-opacity">您确定要不保存就返回？</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-info" id="save_return">保存后返回</button>
                            <button type="button" class="btn btn-danger" id="directly_return">直接返回</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


        <div class="text-right" style="position:relative;">
            <input  type="hidden" name="published" value="true"/>
            <button type="button" id="goBack-btn"  class="btn btn-danger btn-lg m-padded-lr m-margin-min"   style="outline: none">返回</button>
            <button type="button" id="save-btn"    class="btn btn-default btn-lg m-padded-lr m-margin-min"  style="outline: none">保存</button>
            <button type="button" id="published-btn" class="btn btn-info btn-lg m-padded-lr m-margin-min"   style="outline: none" th:text="${blog}!=null?'更新':'发布'">发布</button>
        </div>
        </form>
    </div>

</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.17/dist/js/bootstrap-select.min.js"></script>


<script>
    $(function () {
        change_original();
        //编辑时初始化原创或转载
        function change_original() {
            var ifOriginal = $("#if_original").val();
            console.log(ifOriginal)
            if(ifOriginal=="false") {
                $("#iftype").removeClass("btn-info");
                $("#iftype").addClass("btn-danger");
                $("#iftype").html("转载&ensp;").append("<span class='caret'></span>");
            }
        }
        $("ul.dropdown-menu").on("click", "li",function () {
                // var val = $(this).children().test();
            var val = $(this).children().text();
            if(val=="转载"){
                $("#iftype").removeClass("btn-info");
                $("#iftype").addClass("btn-danger");
                $("#iftype").html("转载&ensp;").append("<span class='caret'></span>");
                $("#if_original").val("false");

            }else if(val=="原创"){
                $("#iftype").removeClass("btn-danger");
                $("#iftype").addClass("btn-info");
                $("#iftype").html("原创&ensp;").append("<span class='caret'></span>");
                $("#if_original").val("true");
            }else {
                return ;
            }
        })

        $("#save-btn").click(function(){
            save();
            return false;
        });
        $("#published-btn").click(function(){
            if(!form_checkout()){
                return;
            }
            var form = new FormData();
            if($("#first_figure_upload")[0].files[0]==null||$("#first_figure_upload")[0].files[0]==''){
                $("[name='published']").val(true);
                $("#save-blog-form").submit();
                return;
            }
            form.append("file",$("#first_figure_upload")[0].files[0]);
            var $this = $("#head_portrait_div");
            $.ajax({
                url:"/admin/addAndEditFirstFigure",
                data:form,
                cache: false,
                async: false,
                type:"POST",
                dataType:'json',
                processData:false,
                contentType:false,
                success: function (result) {
                    if(result.code==200){
                        $this.parent('div').next('p').remove();
                        $this.parent('div').after("<p style='color: #dd5555'>"+result.extend.vi+"</p>");
                        console.log("11111111111111111111111")
                    }else {
                        $this.parent('div').next('p').remove();
                        $("#first_figure_id").val(result.extend.path);
                        $("[name='published']").val(true);
                        $("#save-blog-form").submit();
                    }
                }
            })
        });
        $("#goBack-btn").click(function () {
            $("#confirm_return_modal").modal();
            return false;
        });
        $('#save_return').click(function () {
            save();
            $('#confirm_return_modal').modal('hide');
            return false;
        })
        $('#directly_return').click(function () {
            window.location.href="/admin/blogs";
            $('#confirm_return_modal').modal('hide');
            return false;
        })
        function save(){
            if(!form_checkout()){
                return;
            }
            console.log("save............")
            var form = new FormData();
            if($("#first_figure_upload")[0].files[0]==null||$("#first_figure_upload")[0].files[0]==''){
                $("[name='published']").val(false);
                $("#save-blog-form").submit();
                return;
            }
            form.append("file",$("#first_figure_upload")[0].files[0]);
            var $this = $("#head_portrait_div");
            $.ajax({
                url:"/admin/addAndEditFirstFigure",
                data:form,
                cache: false,
                async: false,
                type:"POST",
                dataType:'json',
                processData:false,
                contentType:false,
                success: function (result) {
                    if(result.code==200){
                        $this.parent('div').next('p').remove();
                        $this.parent('div').after("<p style='color: #dd5555'>"+result.extend.vi+"</p>");
                        console.log("11111111111111111111111")
                    }else {
                        $this.parent('div').next('p').remove();
                        $("#first_figure_id").val(result.extend.path);
                        $("[name='published']").val(false);
                        $("#save-blog-form").submit();
                    }
                }
            })
        }

        //对select下拉列表进行初始化
        $('.selectpicker>option').each(function (i) {
            $(this).attr("data-content","<span class='label label-info'>"+$(this).text()+"</span>")
        })

        //上传图片

        $("#head_portrait_div").mouseover(function () {
            $(".mask-mini").show();
        });
        $("#head_portrait_div").mouseout(function () {
            $(".mask-mini").hide();
        })
        //提交前先校验表单数据
        function form_checkout(){
            var title = $('#title_input').val().trim();
            var content = $('#content_text').val().trim();
            var tags = $('#tags_select').val();
            var introduction = $('#introduction_input').val().trim();
            var flag = true;
            console.log(title,content,tags,introduction);
            $('#title_input').parent('div').removeClass("has-error");
            $('#title_input').attr('placeholder','');
            $('#m-editormd').next('p').remove();
            $('#introduction_input').parent('div').removeClass("has-error");
            $('#introduction_input').attr('placeholder','');
            $('#tags_select').parent('div').parent('div').next('span').remove();
            if(title==null||title==''){
                $('#title_input').parent('div').addClass("has-error");
                $('#title_input').attr('placeholder','   标题不能为空哦');
                $('#title_input').val('');
                flag=false;
            }
            if(content==null||content==''){
                $('#m-editormd').after("<p style='color: #dd5555'>内容不能为空哦！</p>");
                flag=false;
            }
            if(introduction==null||introduction==''){
                $('#introduction_input').parent('div').addClass("has-error");
                $('#introduction_input').attr('placeholder','   简介不能为空哦')
                $('#introduction_input').val('');
                flag=false;
            }
            if(tags==null||tags==''){
                $('#tags_select').parent('div').parent('div').after("<span style='color: #dd5555'>标签内容不能为空哦！</span>");
                flag=false;
            }
            return flag;

        }

        $("#first_change_btn,#first_figure_btn").click(function () {
            $('#first_figure_upload').trigger("click");
        })


        $('#first_figure_upload').change(function () {
                var file = $(this).val();
                if(file==''||file==null){
                    $("#first_figure_btn").css('opacity','1');
                    $("#first_figure_upload").parent('div').next('p').remove();
                    $("#first_figure_btn").removeClass("disabled");
                    $("#head_portrait_div").css('display','none');
                }else{
                    if(!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(file)) {
                        $('#first_figure_upload').val('');
                        $("#first_figure_id").val('');
                        $("#first_figure_upload").parent('div').next('p').remove();
                        $("#first_figure_btn").css('opacity','1');
                        $("#first_figure_btn").removeClass("disabled");
                        $("#head_portrait_div").css('display','none');
                        $("#first_figure_upload").parent('div').after("<p style='color: #dd5555'>请选择图片类文件</p>");
                        return false;
                    }
                    $("#first_figure_upload").parent('div').next('p').remove();
                    preImg(this.id,'first_figure_img');
                    $("#first_figure_btn").css('opacity','0');
                    $("#first_figure_btn").removeClass("disabled");
                    $("#head_portrait_div").css('display','inline');
                    $("#first_figure_btn").addClass("disabled");
                }
        })
        $('#first_delete_btn').click(function () {
            $('#first_figure_upload').val('');
            $("#first_figure_id").val('');
            $("#first_figure_upload").parent('div').next('p').remove();
            $("#first_figure_btn").css('opacity','1');
            $("#first_figure_btn").removeClass("disabled");
            $("#head_portrait_div").css('display','none');
        })

        //图片即时预览
        function getFileUrl(sourceId) {
            var url;
            if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
                url = document.getElementById(sourceId).value;
            } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            }
            return url;
        }
        function preImg(sourceId, targetId) {
            var url = getFileUrl(sourceId);
            var imgPre = document.getElementById(targetId);
            imgPre.src = url;
        }
    })
</script>
<script type="text/javascript">
    var contentEditor;

    $(function() {
        contentEditor = editormd("m-editormd", {
            width   : "100%",
            height  : 599,
            syncScrolling : "single",
            path    : "/lib/editormd/lib/"
        });


        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });








</script>

</body>
</html>