<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/admin-commons::admin-head('博客发布')"></head>
<body>
<!--导航条-->
<nav th:replace="admin/admin-commons::admin-nav"></nav>

<div class="content text-center" >
    <div class="col-md-8 col-md-offset-2" >
        <div class="m-margin-tb-tiny">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-lg active" style="outline: none">&nbsp;发布&nbsp;</button>
                <button type="button" class="btn btn-default btn-lg" style="outline: none">&nbsp;列表&nbsp;</button>
            </div>
        </div>
        <div class="input-group input-group-lg" style="position: relative;margin-bottom: 19px">
            <div class="input-group-btn">
                <button id="iftype" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="outline: none">原创&ensp;<span class="caret"></span></button>
                <ul class="dropdown-menu" style="min-width: 100%">
                    <li class="text-center"><span style="color: deepskyblue">原创</span></li>
                    <li role="separator" class="divider"></li>
                    <li class="text-center "><span style="color: firebrick;">转载</span></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->

        <div class="layout" style="position:relative;z-index: 99">
            <div id="m-editormd">
                <textarea style="display:none;">
                </textarea>
            </div>

        </div>


        <div class="row " style="position:relative;">
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">标签</span>
                    <select class="form-control" aria-haspopup="true" aria-expanded="false">
                        <option value="void">hahah1</option>
                        <option value="void">hahah2</option>
                        <option value="void">hahah3</option>
                        <option value="void">hahah4</option>
                    </select>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="lable">标签</span>
                    <select class="form-control" aria-haspopup="true" aria-expanded="false">
                        <option value="void">hahah1</option>
                        <option value="void">hahah2</option>
                        <option value="void">hahah3</option>
                        <option value="void">hahah4</option>
                    </select>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div class="text-right" style="position:relative;">
            <button type="button" class="btn btn-default btn-lg m-padded-lr m-margin-large" style="outline: none">返回</button>
            <button type="button" class="btn btn-default btn-lg m-padded-lr m-margin-large" style="outline: none">保存</button>
            <button type="button" class="btn btn-info btn-lg m-padded-lr m-margin-large" style="outline: none">发布</button>
        </div>

    </div>

</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>


<script>
    $(function () {
        $("ul.dropdown-menu").on("click", "li",function () {
            // var val = $(this).children().test();
            var val = $(this).children().text();
            if(val=="转载"){
                $("#iftype").removeClass("btn-info");
                $("#iftype").addClass("btn-danger");
                $("#iftype").html("转载&ensp;").append("<span class='caret'></span>");
            }else if(val=="原创"){
                $("#iftype").removeClass("btn-danger");
                $("#iftype").addClass("btn-info");
                $("#iftype").html("原创&ensp;").append("<span class='caret'></span>");
            }else {
                return;
            }
        })
    })

</script>
<script type="text/javascript">
    var contentEditor;

    $(function() {
        contentEditor = editormd("m-editormd", {
            width   : "100%",
            height  : 599,
            syncScrolling : "single",
            path    : "/lib/editormd/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>

</body>
</html>