<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons::head('个人信息管理')"></head>
<body class="admin-pim">
<!-- 导航栏 -->
<!--<div th:include="commons/top::topNav"></div>-->
<!--导航条-->
<nav th:replace="admin/admin-commons::admin-nav"></nav>


<div class="content ">
    <!--内容主体-->
    <div class="row m-margin-none " style="padding-top: 12px">
        <!-- 左侧 -->

        <div class="col-md-3"  >
            <nav class="collapse navbar-collapse m-padded-none " id="collapse-2" style="margin-top: 52px;padding-top: 0px;">
                <div class="panel panel-default panel-body m-border-radius m-box-shadow-mini  m-padded-none text-center" >
                    <!--                头像、介绍-->
                    <div class="row m-middle">
                        <!--                    头像-->
                        <div class="col-md-6 text-center "  style="position: relative;" id="head_protrait">
                            <img src="../static/images/headProtrait.jpg"   th:src="@{${user.headPortrait}}" class=" m-margin-large img-responsive">
                            <div class="mask text-center" >
                                <input style="top:72px;left:59px;opacity: 0;width:88px;height:32px;position: absolute;" name="head_portrait" id="head_upload"  type="file" accept="image/gif,image/jpeg,image/png" />
                                <button type="button" class="btn btn-info m-border-radius" id="head_btn" style="position:absolute;top:72px;left:59px;width: 88px;height:32px">修改</button>
                            </div>
                        </div>
                        <!-- 介绍-->
                        <div class="col-md-6  m-opacity-big text-center">
                            <div class="m-margin-tb-big" >
                                <h5><input type="text" class="text-center" name="intro1" th:value="${user.intro1}" ></h5>
                                <h5><input type="text" class="text-center" name="intro2" th:value="${user.intro2}" ></h5>
                                <h5><input type="text" class="text-center" name="intro3" th:value="${user.intro3}" ></h5>
                            </div>
                        </div>
                    </div>
                    <!-- 个人信息 -->
                    <div class="row text-center m-font-lined ">
                        <h3 class="m-opacity-tiny" style="margin-top: 0px;" ><strong><input type="text" name="nickname" class="text-center" th:value="${user.nickname}" style="min-width: 199px"> </strong></h3>
                        <h5 class="m-opacity"><input type="text" class="text-center" name="profession" th:value=" ${user.profession}"></h5>
                        <h5 class="m-opacity-big"  style="margin-bottom: 0px" >
                            <span class="glyphicon glyphicon-map-marker"aria-hidden="true"></span>
                            <input type="text" name="address"  th:value="${user.address}" style="max-width:66px">
                        </h5>
                        <button type="button" class="btn btn-info m-border-radius m-padded-lr-mini m-margin-tb-mini" style="background-color: dodgerblue;outline: none">点击关注我吧</button>
                    </div>
                    <!--                 博客 、 标签 -->
                    <hr class="m-margin-none">
                    <div class="row ">

                        <!-- 博客 -->
                        <div class="col-md-6 m-padded-none m-opacity-mini m-padded-tb" style="border-right: 1px solid #E6E3E3">
                            <h3 class="m-font-mimi m-margin-none m-font-lined-mini">52</h3>
                            <h3 class="m-font-mini m-margin-none m-font-lined-mini">文章</h3>
                        </div>


                        <!-- 标签 -->
                        <div class="col-md-6 m-padded-none m-opacity-mini m-padded-tb" >
                            <h3 class="m-font-mimi m-margin-none m-font-lined-mini">52</h3>
                            <h3 class="m-font-mini m-margin-none m-font-lined-mini">标签</h3>
                        </div>

                    </div>
                    <hr class="m-margin-none" style="padding-left: 0;padding-right:0">
                    <div class="row m-opacity-big m-margin-tiny m-div-min-height-mini">
                        <h5>友情链接......</h5>
                    </div>



                </div>
            </nav>
        </div>



        <!--    中间-->
        <div class="col-md-6" >
            <div>
                <div class="panel panel-default panel-body m-border-radius m-box-shadow" style="margin-top: 52px;padding:25px">
                    <div>
                        <!--            标题-->
                        <div class="m-padded-tb-mini  m-font-padded-left"><h1 class="m-margin-none m-font-color-blue">[[${user.nickname}]]</h1></div>
                        <div class="m-cross-dotted"  style="margin-top: 10px"></div>
                        <!-- 文章内容 -->
                        <div class="m-opacity">
                            <h3><b>关于作者</b></h3>
                            <div>
                                <textarea class="form-control m-font-spaced m-font-lined" style="font-size: 19px;padding: 10px 19px 10px 19px" name="introduce_myself" rows="6" th:text="${user.introduceMyself}"></textarea>
                            </div>

                        </div>

                        <!-- 虚线分割线 -->
                        <div class="m-cross-dotted"></div>
                        <!-- 联系方式 -->
                        <div class="m-opacity">
                            <h3><b>联系作者</b></h3>
                            <div>
                                <textarea class="form-control  m-font-spaced m-font-lined " style="font-size: 19px;padding: 10px 19px 10px 19px"  name="contact_me" rows="9" th:text="${user.contactMe}"></textarea>
                            </div>

                        </div>
                        <!-- 虚线分割线 -->
                        <div class="m-cross-dotted"></div>

                        <!--  赞赏 -->
                        <div class="text-center m-margin-tb-tiny">
                            <span type="button" class="btn btn-warning m-btn-admire" style="outline: none">赏</span>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--底部footer-->
<footer   class="thumbnail text-center  m-box-shadow m-padded-none m-margin-none" style="background-color: ghostwhite" >
    <div class="content">

        <div class="col-md-12 m-font-spaced">
            <div class="row  m-padded-none m-margin-tb-mini" style="padding-top: 52px;">

                <div class="col-md-3 m-div-min-height-large  text-center" style="border-right: 2px solid #E6E3E3;">
                    <div class="col-md-7" style="position: relative;" id="footer_img">
                        <img src="../static/images/headProtrait.jpg"  th:src="@{${user.publicQrCode}}" class="m-margin-large img-responsive m-box-shadow" style="margin-left: 99px">
                        <div class="footer-mask text-center" >
                            <input style="top:72px;left:59px;opacity: 0;width:88px;height:32px;position: absolute;" id="footer_img_upload" name="public_qrcode"  type="file" accept="image/gif, image/jpeg, image/png" />
                            <button type="button" class="btn btn-info m-border-radius" id="footer_img_btn" style="position:absolute;top:72px;left:59px;width: 88px;height:32px">修改</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 m-div-min-height-large m-opacity-tiny" style="border-right: 2px solid #E6E3E3">
                    <h3>最新博客</h3>
                    <div class="m-margin-tb-mini " >
                        <h5 th:each="blog,blogStat : ${user.blogs}" th:if="${blogStat.count}<=3"><a href="#" style="color: deepskyblue" th:text="${blog.title}">最新博客1</a></h5>

                    </div>

                </div>
                <div class="col-md-3 m-div-min-height-large m-opacity-tiny" style="border-right: 2px solid #e6e3e3">
                    <h3>联系我</h3>
                    <div class="m-margin-tb-mini m-font-color-blue text-center">
                        <h5 class="text-center">QQ: <input class="text-left" type="text" name="qq" th:value="${user.qq}" ></h5>
                        <h5>微信:<input class="text-left" type="text" name="wechat" th:value="${user.weChat}"></h5>
                        <h5>邮箱: <input class="text-left" type="text" name="email" th:value="${user.email}"></h5>
                    </div>

                </div>

                <div class="col-md-3 m-div-min-height-large m-opacity-tiny m-font-spaced">
                    <h3>Blog</h3>
                    <h5 class="m-font-lined m-font-color-blue ">
                        <textarea class="form-control m-font-color-blue text-center m-font-spaced m-font-lined" name="blog_intro" rows="3" th:text="${user.blogIntro}" style="padding:10px 19px 10px 19px"></textarea>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row m-margin-tb m-margin-none">
            <div class="col-md-6 col-md-offset-3">
                <!-- 分割线               <div class="m-aline "></div>-->
                <div>
                    <h5 class="m-opacity-mini">Copyright © 2020-2022 Wchaohui 版权所有</h5>
                    <div style="width:300px;margin:auto;">
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43132202001055"
                           style="display:inline-block;text-decoration:none;">
                            <img src="../static/images/备案图标.png" th:src="@{/images/备案图标.png}" style="float:left;"/>
                            <p style="float:left;margin: 5px 0px 0px 5px; color:#939393;">湘公网安备 43132202001055号</p>
                        </a>
                    </div>
                    <h5 ><a href="http://www.beian.miit.gov.cn" style="color: #939393">滇ICP备20003052号-1</a></h5>


                </div>



            </div>


        </div>
    </div>


</footer>

<!--/*/<th:block th:replace="commons::script"></th:block>/*/-->
<script th:inline="javascript">

    $(function () {

        //让输入框的宽度随文字变化而变化
        var searchinput=$("input:not('nav input,#head_upload,#footer_img_upload')");
        var textWidth = function (text) {
            var sensor = $('<pre>' + text + '</pre>').css({display: 'none'});
            $('body').append(sensor);
            var width = sensor.width();
            sensor.remove();
            return width;
        };
        searchinput.unbind('keyup ').bind('keyup ', function () {
            console.log($(this).val())
            $(this).width(textWidth($(this).val() + 10));
        });
        searchinput.each(function () {
            $(this).width(textWidth($(this).val()+10));
        })



        $('[data-toggle="popover"]').popover({
            title: "如果觉得本文对您有帮助，您可以鼓励一下博主！",
            animation: true,
            html: true,
            container: "body",
            content:  "<div >"+
                "<img class='img-responsive' src='/images/headProtrait.jpg'>" +
                "</div>"


        });


        $('input:not("nav input,#head_upload,#footer_img_upload"),textarea').change(function () {
            var $this = $(this);
            var fieldName = $(this).attr("name");
            var fieldValue = $(this).val();

            console.log(fieldName);
            console.log(fieldValue);
            $.ajax({
                url:"/admin/pim",
                type: "put",
                data:"fieldName="+fieldName+"&"+"fieldValue="+fieldValue,
                success:function (result) {
                    if(result.code==200){
                        $this.next('p').remove();
                        $this.after("<p style='color: #dd5555'>该项不能为空</p>");
                        $this.val(result.extend.fieldValue)
                    }else{
                        $this.next('p').remove();
                    }
                }
            })
        })
        $("#head_protrait").mouseover(function () {
            $(".mask").show();
        });
        $("#head_protrait").mouseout(function () {
            $(".mask").hide();
        })

        $("#head_btn").click(function () {
            $('#head_upload').trigger("click");
        })

        $("#footer_img").mouseover(function () {
            $(".footer-mask").show();
        });
        $("#footer_img").mouseout(function () {
            $(".footer-mask").hide();
        })

        $("#footer_img_btn").click(function () {
            $('#footer_img_upload').trigger("click");
        })
        $('#head_upload,#footer_img_upload').change(function () {
            var form = new FormData();
            form.append("img",this.files[0]);
            form.append("fieldName",$(this).attr("name"));
            var $this = $(this);
            $.ajax({
                url:"/admin/changeImage",
                data:form,
                cache: false,
                async: false,
                type:"POST",
                dataType:'json',
                processData:false,
                contentType:false,
                success: function (result) {
                    if(result.code==200){
                        $this.parent('div').next('p').remove();
                        $this.parent('div').after("<p style='color: #dd5555'>修改头像失败！</p>");
                        console.log("11111111111111111111111")
                    }else {
                        $this.parent('div').next('p').remove();
                        $this.parent('div').prev('img').attr("src",result.extend.path);
                        console.log(result.extend.path);
                        console.log("修改成功！");
                    }
                }
            })
        })







    })






</script>
</body>
</html>