<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin-commons::admin-head('分类管理')">
</head>
<body>
<!--导航条-->
<nav th:replace="admin/admin-commons::admin-nav"></nav>
<div class="modal fade" tabindex="-1" role="dialog" id="type_add_modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="type_title">新增分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input  type="hidden" name="id" id="type_id" value="">
                    <div class="form-group">
                        <label for="type_name" class="col-sm-3 control-label" id="type_info">请输入分类的名称：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="type_name" name="typeName" >
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="type_save_btn">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="content text-center">
    <div class="col-md-8 col-md-offset-2 m-padded-tb-big" id="type_content">

        <div class="text-right" style="margin-bottom: 15px">
            <button type="button" class="btn btn-primary" style="outline: none" id="add_btn">新增</button>

        </div>
        <!-- 博客表格 -->
        <div class="table-responsive">

            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th class="text-center" style="width: 52px">序号</th>
                        <th class="text-center">分类名称</th>
                        <th class="text-center" style="width: 199px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="type,typeStat:${types}">
                        <td style="display:table-cell;vertical-align: middle" th:text="${typeStat.count}">1</td>
                        <td style="display:table-cell;vertical-align: middle" th:text="${type.typeName}">生活分享</td>
                        <td style="display:table-cell;vertical-align: middle">
                            <button type="button" class="btn btn-info type_edit" style="outline: none" th:href="@{/admin/type/}+${type.id}">编辑</button>
                            <button type="button" class="btn btn-danger type_delete" style="outline: none" th:href="@{/admin/type/}+${type.id}">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/
    $('.dropdown-toggle').dropdown();

    $('#add_btn,.type_edit').click(function () {


        if($(this).attr('id')==undefined){
            $.get(
                $(this).attr('href'),
                function (result) {
                    $('#type_id').val(result.extend.type.id);
                    $('#type_title').text("修改分类");
                    $('#type_info').text("请修改分类：");
                    $('#type_name').val(result.extend.type.typeName)
                }
            )
        }else{
            $('#type_title').text("添加分类");
            $('#type_info').text("请输入分类名称：");
            $('#type_name').val("");
        }
        //打开模态框
        $('#type_add_modal').modal();
        return false;
    });
    $('#type_add_modal').on('hidden.bs.modal', function (e) {
        //1、清空模态框表单
        $('#type_add_modal form')[0].reset();
        $('#type_save_btn').removeClass("active disabled")
        $('#type_name').parent().removeClass("has-success has-error")
        $('#type_name').next().remove();
    })
    //校验表单
    $('#type_name').change(function () {
        //清空错误样式
        $('#type_save_btn').removeClass("active disabled")
        $('#type_name').parent().removeClass("has-success has-error")
        $('#type_name').next().remove();
        var typename = $(this).val();
        $.getJSON(
            ctxPath+'admin/checkTypeName',
            "typeName="+typename,
            function (result) {

                if(result.code==100){
                    $('#type_name').parent().addClass("has-success")
                    $('#type_save_btn').addClass("active")
                }else{

                    $('#type_save_btn').addClass("disabled")

                    $('#type_name').parent().addClass("has-error").append($("<p style='color: #aa2222'></p>").text(result.extend.vi))
                }
            }

        )
    })
    $('#type_save_btn').click(function () {
        if($('#type_id').val()>0){
            $.ajax({
                url: ctxPath+"admin/type",
                type: 'PUT',
                data: $("#type_add_modal form").serialize(),
                success: function (result) {
                    if(result.code==100){
                        $("#type_add_modal").modal('hide');
                        location.reload();
                    }else{
                        $("#type_add_modal").modal('hide');
                    }
                }
            })
        }else{
            $.ajax({
                url: ctxPath+"admin/type",
                type: 'POST',
                data: $("#type_add_modal form").serialize(),
                success: function (result) {
                    if(result.code==100){
                        $('#type_add_modal').modal('hide');
                        //刷新页面
                        location.reload();
                    }else{
                        $("#type_add_modal").modal('hide');
                    }
                }
            })
        }

    })
    $('tbody').delegate(".type_delete","click",function () {
        $.ajax({
            url: $(this).attr('href'),
            type: 'DELETE',
            success: function (result) {
                if(result.code==100){
                    console.log("deleteType",result.extend.vi);
                    location.reload();
                }else{
                    console.log("deleteType",result.extend.vi);
                    location.reload();
                }
            }
        })
    })


</script>
</body>
</html>