<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons::head('归档')"></head>
<body>
<!--导航条-->
<nav th:replace="commons::top"></nav>

<div class="content ">
    <!--内容主体-->
    <div class="row m-margin-none  " style="padding-top: 12px">
        <!-- 左侧 -->
        <div th:replace="commons::left"></div>


        <!--    中间-->
        <div class="col-md-6 container" style="padding-bottom: 10px" >
            <!--        header-->
            <!--        <div class="panel panel-default panel-body m-padded-tb-mini" style="margin-bottom: 0px">-->
            <!--            <div class="row text-center">-->
            <!--                <div class="col-md-2" style="color: aqua"><h3>博客</h3></div>-->
            <!--                <h3 class="col-md-2 col-md-offset-8" >共 <strong style="color: darkorange">14</strong> 篇</h3>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        中间内容-->
            <div class=" history " style="opacity: 0;margin-top: 52px;padding-top: 0px">
                    <div class="history-date" th:if="${not #maps.isEmpty(blogMap)}" >
                        <ul th:each="blogMap : ${blogMap}">
                            <h2 class="first img-responsive archive-h2"  style="margin-bottom: 29px"> <a href="#nogo" th:text="${blogMap.key}">2012年</a> </h2>
                            <li class="green " style="padding-bottom: 19px" th:each="blog : ${blogMap.value}">
                                <h3 class="col-md-3" >[[${#dates.format(blog.updateTime,'MM.dd')}]]
                                    <span class="m-opacity-big" style="color: #0663dd">[[${#dates.format(blog.updateTime,'HH:mm:ss')}]]</span>
                                </h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body m-div-padded" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none ">
                                        <div class="m-font-spaced-large m-font-padded-left content-a" style="margin-bottom: 5px;font-size: 16px" > <a th:href="@{'/blog/'+${blog.id}}" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></div>
                                        <hr class="m-padded-none m-margin-none" style="margin-left: 8px;margin-right: 8px">
                                        <div class="row container-fluid m-opacity-tiny" style="padding-left: 25px">
                                            <div class="text-left " style="margin-top:6px;margin-right: 3px" >
                                                <span style="margin-right:12px" >
                                                    <span class="glyphicon glyphicon-calendar " aria-hidden="true" ></span>
                                                    <span>
                                                        [[${#dates.format(blog.updateTime,'yyyy-MM-dd')}]]
                                                    </span>
                                                </span>

                                                <span style="margin-right:12px" class="content-a">
                                                    <span class=" glyphicon glyphicon-folder-open"
                                                            aria-hidden="true">
                                                    </span>
                                                    <a style="padding-left: 2px;color: black" th:href="@{'/type/'+${blog.type.id}}">[[${blog.type.typeName}]]</a>
                                                </span>
                                                <a class="label label-info m-span-label-mini "   th:each="tag : ${blog.tags}" th:href="@{'/tag/'+${tag.id}}">[[${tag.tagName}]]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>


            </div>






        </div>

        <!-- 右侧 -->
        <div th:replace="commons::right"></div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="commons::footer"></footer>

<!--/*/<th:block th:replace="commons::script"></th:block>/*/-->

</body>
</html>