<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="commons::head('归档')"></head>
<body>
<!--导航条-->
<nav th:replace="commons::top"></nav>

<div class="content ">
    <!--内容主体-->
    <div class="row m-margin-none  " style="padding-top: 12px">
        <!-- 左侧 -->
        <div th:replace="commons::left"></div>


        <!--    中间-->
        <div class="col-md-6 container" style="padding-bottom: 10px" >
            <!--        header-->
            <!--        <div class="panel panel-default panel-body m-padded-tb-mini" style="margin-bottom: 0px">-->
            <!--            <div class="row text-center">-->
            <!--                <div class="col-md-2" style="color: aqua"><h3>博客</h3></div>-->
            <!--                <h3 class="col-md-2 col-md-offset-8" >共 <strong style="color: darkorange">14</strong> 篇</h3>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        中间内容-->
            <div class=" history " style="margin-top: 52px;padding-top: 0px">
                    <div class="history-date"  >
                        <ul>
                            <h2 class="first img-responsive" style="margin-bottom: 29px"> <a href="#nogo">2012年</a> </h2>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-font-spaced-mini m-font-padded-left m-opacity "> <h5 class="m-margin-none ">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="green " style="padding-bottom: 19px">
                                <h3 class="col-md-3">10.08<span>2012</span></h3>
                                <div class="col-md-8 col-md-offset-1 panel panel-default panel-body" style="margin-left: 52px;margin-top: -10px">
                                    <!-- 边框小三角 -->
                                    <div class=" m-inner"></div>
                                    <div class="m-padded-none">
                                        <div class="m-padded-tb-mini m-font-spaced-mini m-font-padded-left m-opacity"> <h5 class="m-margin-none m-padded-none">你真的理解什么是财富自由吗?</h5></div>
                                        <hr class="m-padded-none m-margin-none">
                                        <div class="row container-fluid m-opacity" style="margin-top: 8px;">
                                            <div class="text-left" style="margin-top:6px;margin-right: 3px" >
                                                <span class="glyphicon glyphicon-calendar m-padded-lr-mini"  style="padding-right:0.3em" aria-hidden="true">2020-05-20</span>
                                                <span class=" glyphicon glyphicon-eye-open m-padded-lr-mini" style="padding-top: 0.1em;padding-right:0.3em" aria-hidden="true">520</span>
                                                <span class="label label-info ">spring boot</span>
                                                <span class="label label-info ">spring</span>
                                                <span class="label label-info ">spring cloud</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


            </div>
            <!--        footer分页跳转-->
            <nav aria-label="row Page navigation">
                <ul class="pager text-center m-margin-tb-tiny" style="margin-bottom: 99px">
                    <li class="previous " ><a href="#" class="m-box-shadow"><span class="glyphicon glyphicon-arrow-left m-padded-max m-font-color-blue " aria-hidden="true"></span></a></li>
                    <li><span class="btn btn-lg disabled " style="border-radius: 35%;margin-top: 3px;box-shadow: 2px 2px 8px #9C9C9C"><h3 class="m-margin-none m-font-color-blue">15</h3></span></li>
                    <li class="next"><a class="m-box-shadow" href="#"> <span class="glyphicon glyphicon-arrow-right m-padded-max m-font-color-blue" aria-hidden="true"></span></a></li>
                </ul>
            </nav>






        </div>

        <!-- 右侧 -->
        <div th:replace="commons::right"></div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="commons::footer"></footer>

<!--/*/<th:block th:replace="commons::script"></th:block>/*/-->

</body>
</html>